<div id="<%= dom_id friend_interaction %>">
  <p>
    <strong>Friend:</strong>
    <%= friend_interaction.friend_id %>
  </p>

  <p>
    <strong>Interaction:</strong>
    <%= friend_interaction.interaction_id %>
  </p>

</div>
