<h1>Editing friend interaction</h1>

<%= render "form", friend_interaction: @friend_interaction %>

<br>

<div>
  <%= link_to "Show this friend interaction", @friend_interaction %> |
  <%= link_to "Back to friend interactions", friend_interactions_path %>
</div>
