<div id="<%= dom_id interaction %>">
  <p>
    <strong>Occured at:</strong>
    <%= interaction.occured_at %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= interaction.notes %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= interaction.name %>
  </p>

</div>
