<div id="<%= dom_id prayer_request %>">
  <p>
    <strong>Request:</strong>
    <%= prayer_request.request %>
  </p>

  <p>
    <strong>Friend:</strong>
    <%= prayer_request.friend_id %>
  </p>

</div>
